<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="qtedit4" Language="1033" Version="0.1.0.0" Manufacturer="YourCompany" UpgradeCode="b67d14e0-7982-4a78-aa90-c8815289e0ad">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of qtedit4 is already installed." />
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" CompressionLevel="high" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="qtedit4" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="qtedit4" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="e5785530-130a-4b00-ada8-a71be60d3fee">
        <File Id="qtedit4.exe" Source="dist\windows-msvc\usr\bin\qtedit4.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <?include dist/qtedit4-files.wxs ?>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ProgramMenuShortcuts" Guid="09e7ad58-b1cd-474c-af19-e7e1571d8b63">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="qtedit4" Description="qtedit4" Target="[INSTALLFOLDER]qtedit4.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\qtedit4\qtedit4" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="qtedit4" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="ProgramMenuShortcuts" />
    </Feature>
  </Product>
</Wix>
